@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');
/*=== Media Query ===*/
// Screen Width
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$haiti: #0d152e;

@mixin mobile {
    @media(min-width: $screen-xs) {
        @content;
    }
}

@mixin mobile-lg {
    @media(min-width: $screen-sm) {
        @content;
    }
}

@mixin tablet {
    @media(min-width: $screen-md) {
        @content;
    }
}

@mixin desktops {
    @media(min-width: $screen-lg) {
        @content;
    }
}

.terms-wrap {
    padding: 50px 0px 35px 0px;
    font-family: DM Sans,sans-serif;
    width: 600px;
    max-width: 90%;
    margin: 0 auto;

    @include tablet {
        padding: 90px 0px 60px 0px;
    }

    @include desktops {
        padding: 100px 0px 80px 0px;
    }

    h2 {
        color: $haiti;
        font-size: 36px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: -1.98px;
        line-height: normal;
        margin-bottom: 40px;
        text-align: center;

        @include mobile-lg {
            font-size: 40px;
        }

        @include tablet {
            font-size: 48px;
        }

        @include desktops {
            font-size: 60px;
        }
    }

    span {
        font-weight: 700;
        font-size: 16px;
        margin-right: 10px;
    }

    li {
        color: $haiti;
        font-style: normal;
        letter-spacing: -0.59px;
    }
    h4 {
        color: $haiti;
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: -0.79px;
        line-height: normal;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    p {
        color: $haiti;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: -0.53px;
        line-height: 28px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}


