@import ../../../styles/helpers

.header
  margin-bottom: 46px
  margin-top: 40px
  padding: 49px 0

.container
  width: 800px
  margin: 0 auto
  max-width: 90%
  display: flex
  +max-width($width: 800px)
    justify-content: center

.logo
  width: 300px
  display: flex
  justify-content: center
  align-items: center
  img
    object-fit: contain
