@import ../../../styles/helpers

.footer
  padding: 72px 0
  width: 800px
  max-width: 90%
  margin: 0 auto

.logo
  display: inline-block
  margin-bottom: 25px
  font-size: 0
  img
    width: 117px

.copyright
  text-align: center
  margin-bottom: 32px
  line-height: 1.5
