
.terms-condition-banner {
    padding: 50px 0px 35px 0px;

    @include tablet {
        padding: 90px 0px 60px 0px;
    }

    @include desktops {
        padding: 100px 0px 80px 0px;
    }

    h2 {
        color: $haiti;
        font-size: 36px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: -1.98px;
        line-height: normal;

        @include mobile-lg {
            font-size: 40px;
        }

        @include tablet {
            font-size: 48px;
        }

        @include desktops {
            font-size: 60px;
        }
    }
}

.terms-condition-area {
    margin-bottom: 25px;

    @include tablet {
        margin-bottom: 45px;
    }

    @include desktops {
        margin-bottom: 95px;
    }
}

.terms-license-area {
    margin-bottom: 35px;
    margin-top: 40px;

    span {
        font-weight: 700;
        font-size: 20px;
        margin-right: 10px;
    }

    li {
        color: $haiti;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: -0.59px;
        line-height: 40px;
        display: inline-flex;
    }
}

.terms-condition-area {
    h4 {
        color: $haiti;
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: -0.79px;
        line-height: normal;
        margin-bottom: 30px;
    }

    p {
        color: $haiti;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: -0.53px;
        line-height: 28px;
        margin-bottom: 25px;
    }
}

.terms-con-content-3 {
    margin-top: 40px;
}


