@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}


h1,
h2,
h4,
h5,
p {
  margin: 0;
}

h1,
h2,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}
.hidden {
  display: none;
}
.object-cover {
  object-fit: cover;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .lg-absolute {
    position: absolute;
  }
}
@media (min-width: 1200px) {
  .xl-absolute {
    position: absolute;
  }
}
.relative {
  position: relative;
}
.z-10 {
  z-index: 10;
}
.text-opensans {
  font-family: "Open Sans", sans-serif;
}

.text-hkgrotesk {
  font-family: "hk_grotesk", sans-serif;
}
.text-hkgrotesk.font-semibold,
.text-hkgrotesk .font-semibold {
  font-family: "hk_grotesksemibold", sans-serif !important;
}text-hkgrotesk.font-bold,
.text-hkgrotesk .font-bold {
  font-family: "hk_groteskbold", sans-serif !important;
}

.text-14 {
  font-size: 0.875rem;
}
.text-18 {
  font-size: 1.125rem;
}
@media (min-width: 1200px) {
  .xl-text-18 {
    font-size: 1.125rem !important;
  }
}
.text-20 {
  font-size: 1.25rem;
}
.text-24 {
  font-size: 1.5rem;
}
.italic {
  font-style: italic;
}
.font-semibold {
  font-weight: 600 !important;
}
.font-bold {
  font-weight: 700 !important;
}
.tracking-2 {
  letter-spacing: 0.2px;
}
.tracking-2 {
  letter-spacing: 2px;
}
.leading-32 {
  line-height: 2rem !important;
}
.leading-36 {
  line-height: 2.25rem !important;
}
.text-left {
  text-align: left;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .lg-text-left {
    text-align: left !important;
  }
}
@media (min-width: 1200px) {
  .xl-text-left {
    text-align: left !important;
  }
}
.text-center {
  text-align: center;
}

@media (max-width: 575.98px) {
  .xs-text-center {
    text-align: center !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .lg-text-right {
    text-align: right !important;
  }
}
@media (min-width: 1200px) {
  .xl-text-right {
    text-align: right !important;
  }
}
.text-success {
  color: #36b37e !important;
}
.text-black {
  color: #183b56 !important;
}
.text-gray {
  color: #5a7184 !important;
}
.text-white {
  color: white !important;
}
.text-white-600 {
  color: rgba(255, 255, 255, 0.6) !important;
}
.bg-primary-100 {
  background-color: rgba(21, 101, 216, 0.1) !important;
}
.bg-gray-100 {
  background-color: rgba(90, 113, 132, 0.1) !important;
}
.border-none {
  border-style: none !important;
}

.rounded-16 {
  border-radius: 1rem;
}

.rounded-full {
  border-radius: 9999px;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}

@media (max-width: 575.98px) {
  .xs-items-center {
    align-items: center !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .md-justify-start {
    justify-content: flex-start !important;
  }
}
@media (min-width: 1200px) {
  .xl-justify-start {
    justify-content: flex-start !important;
  }
}
.justify-center {
  justify-content: center;
}

@media (max-width: 575.98px) {
  .xs-justify-center {
    justify-content: center !important;
  }
}
.justify-between {
  justify-content: space-between;
}

.px-2px {
  padding-right: 2px;
  padding-left: 2px;
}

.pt-8 {
  padding-top: 0.5rem;
}

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-20 {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

@media (max-width: 575.98px) {

  .xs-pb-20 {
    padding-bottom: 1.25rem !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {

  .sm-pb-20 {
    padding-bottom: 1.25rem !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {

  .md-pb-20 {
    padding-bottom: 1.25rem !important;
  }
}

.pt-40 {
  padding-top: 2.5rem;
}

.pb-40 {
  padding-bottom: 2.5rem;
}
@media (min-width: 992px) and (max-width: 1199.98px) {

  .lg-pr-44 {
    padding-right: 2.75rem !important;
  }

  .lg-pl-44 {
    padding-left: 2.75rem !important;
  }
}
@media (min-width: 1200px) {

  .xl-pr-44 {
    padding-right: 2.75rem !important;
  }

  .xl-pl-44 {
    padding-left: 2.75rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {

  .lg-pt-60 {
    padding-top: 3.75rem !important;
  }
}
@media (min-width: 1200px) {

  .xl-pt-60 {
    padding-top: 3.75rem !important;
  }
}

.py-64 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-72 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

@media (max-width: 575.98px) {

  .xs-pt-80 {
    padding-top: 5rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {

  .lg-py-84 {
    padding-top: 5.25rem !important;
    padding-bottom: 5.25rem !important;
  }
}
@media (min-width: 1200px) {

  .xl-py-84 {
    padding-top: 5.25rem !important;
    padding-bottom: 5.25rem !important;
  }
}

.pt-96 {
  padding-top: 6rem;
}
@media (min-width: 576px) and (max-width: 767.98px) {

  .sm-pt-96 {
    padding-top: 6rem !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {

  .md-pt-96 {
    padding-top: 6rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {

  .lg-pt-96 {
    padding-top: 6rem !important;
  }
}
@media (min-width: 1200px) {

  .xl-pt-96 {
    padding-top: 6rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {

  .lg-px-100 {
    padding-right: 6.25rem !important;
    padding-left: 6.25rem !important;
  }
}
@media (min-width: 1200px) {

  .xl-px-100 {
    padding-right: 6.25rem !important;
    padding-left: 6.25rem !important;
  }
}

@media (max-width: 575.98px) {

  .xs-py-120 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {

  .lg-py-124 {
    padding-top: 7.75rem !important;
    padding-bottom: 7.75rem !important;
  }
}
@media (min-width: 1200px) {

  .xl-py-124 {
    padding-top: 7.75rem !important;
    padding-bottom: 7.75rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {

  .lg-pt-144 {
    padding-top: 9rem !important;
  }
}
@media (min-width: 1200px) {

  .xl-pt-144 {
    padding-top: 9rem !important;
  }
}

.py-176 {
  padding-top: 11rem;
  padding-bottom: 11rem;
}

.mb-0 {
  margin-bottom: 0;
}

@media (max-width: 575.98px) {

  .xs-mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .xs-mt-0 {
    margin-top: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {

  .lg-mb-0 {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 1200px) {

  .xl-mb-0 {
    margin-bottom: 0 !important;
  }
}

.mr-4px {
  margin-right: 4px;
}

.mb-4px {
  margin-bottom: 4px;
}

.mb-6px {
  margin-bottom: 6px;
}

.mx-8 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

@media (max-width: 575.98px) {

  .xs-my-8 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .xs-mr-8 {
    margin-right: 0.5rem !important;
  }
}

.mr-12 {
  margin-right: 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

@media (max-width: 575.98px) {

  .xs-my-12 {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
  }
}

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-16 {
  margin-top: 1rem;
}

.mr-16 {
  margin-right: 1rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.ml-16 {
  margin-left: 1rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.mt-32 {
  margin-top: 2rem;
}

.mb-32 {
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {

  .xl-mb-32 {
    margin-bottom: 2rem !important;
  }
}

.mb-40 {
  margin-bottom: 2.5rem;
}

@media (max-width: 575.98px) {

  .xs-mb-40 {
    margin-bottom: 2.5rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {

  .lg-ml-40 {
    margin-left: 2.5rem !important;
  }
}
@media (min-width: 1200px) {

  .xl-ml-40 {
    margin-left: 2.5rem !important;
  }
}

.mb-48 {
  margin-bottom: 3rem;
}

.mt-52 {
  margin-top: 3.25rem;
}
@media (min-width: 992px) and (max-width: 1199.98px) {

  .lg-mt-56 {
    margin-top: 3.5rem !important;
  }
}

.mb-60 {
  margin-bottom: 3.75rem;
}

.mb-64 {
  margin-bottom: 4rem;
}
@media (min-width: 992px) and (max-width: 1199.98px) {

  .lg-mb-64 {
    margin-bottom: 4rem !important;
  }
}
@media (min-width: 1200px) {

  .xl-mb-64 {
    margin-bottom: 4rem !important;
  }
}
@media (min-width: 1200px) {

  .xl-mb-68 {
    margin-bottom: 4.25rem !important;
  }
}

.mb-72 {
  margin-bottom: 4.5rem;
}

.mb-96 {
  margin-bottom: 6rem;
}
@media (min-width: 1200px) {

  .xl-mt-96 {
    margin-top: 6rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {

  .lg-mb-116 {
    margin-bottom: 7.25rem !important;
  }
}
@media (min-width: 1200px) {

  .xl-mb-116 {
    margin-bottom: 7.25rem !important;
  }
}

.-mb-172 {
  margin-bottom: -10.75rem;
}

.-mb-180 {
  margin-bottom: -11.25rem;
}

.mb-200 {
  margin-bottom: 12.5rem;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}
.w-16 {
  width: 1rem;
}
.w-32 {
  width: 2rem;
}
.w-40 {
  width: 2.5rem;
}
.w-80 {
  width: 5rem;
}
.w-100 {
  width: 6.25rem;
}

@media (max-width: 575.98px) {
  .xs-min-w-half {
    min-width: 50%;
  }
}

.max-w-sm {
  max-width: 24rem;
}
.h-16 {
  height: 1rem;
}
.h-32 {
  height: 2rem;
}
.h-40 {
  height: 2.5rem;
}
.h-100 {
  height: 6.25rem;
}
.min-h-full {
  min-height: 100%;
}
.pointer-events-none {
  pointer-events: none;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
button:focus {
  outline: none;
}
.heading p {
  font-size: 18px !important;
}

@media (max-width: 575.98px) {
  .heading p {
    font-size: 16px !important;
  }

  .navbar .navbar-collapse {
    position: absolute;
    background: white;
    width: calc(100% - 30px);
    border-radius: 16px;
    top: 0;
    padding: 24px;
    z-index: 111;
    box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.16);
  }
  .navbar .navbar-collapse .btn.btn-outline-white {
    border-color: #183b56;
    color: #183b56;
  }
  .navbar .navbar-nav .close-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .navbar .navbar-nav .close-button button {
    padding: 0;
  }
  .navbar .navbar-nav > .nav-item {
    margin-left: 0 !important;
    width: 100%;
  }
  .navbar .navbar-nav > .nav-item .nav-link {
    color: #183b56 !important;
    display: flex;
    line-height: 28px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .navbar .navbar-nav .sub-menu {
    min-width: initial;
  }
  .navbar .navbar-nav .sub-menu .sub-nav-items {
    padding: 0;
    margin: 10px 0;
  }
  .navbar .btn {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar .navbar-collapse {
    position: absolute;
    background: white;
    width: calc(100% - 35px);
    border-radius: 16px;
    margin-top: 0;
    top: 0;
    padding: 24px;
    z-index: 111;
    box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.16);
  }
  .navbar .navbar-nav .close-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .navbar .navbar-nav .close-button button {
    padding: 0;
  }
  .navbar .navbar-nav > .nav-item {
    margin-left: 0 !important;
    width: 100%;
  }
  .navbar .navbar-nav > .nav-item .nav-link {
    color: #183b56 !important;
    display: flex;
    line-height: 28px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar .share-buy-list-container {
    position: relative;
  }
  .navbar .navbar-collapse {
    position: absolute;
    background: white;
    width: calc(100% - 145px);
    width: 100%;
    border-radius: 16px;
    top: 0;
    left: 0;
    padding: 24px;
    z-index: 111;
    box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.16);
  }
  .navbar .navbar-collapse .btn.btn-outline-white {
    border-color: #183b56;
    color: #183b56;
  }
  .navbar .navbar-nav .close-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .navbar .navbar-nav .close-button button {
    padding: 0;
  }
  .navbar .navbar-nav > .nav-item {
    margin-left: 0 !important;
    width: 100%;
  }
  .navbar .navbar-nav > .nav-item .nav-link {
    color: #183b56 !important;
    display: flex;
    line-height: 28px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
header {
  padding-top: 20px;
}
header .navbar {
  margin-bottom: 20px;
}
.navbar.navbar-dark .navbar-nav > .nav-item > .nav-link {
  color: #183b56;
}
.navbar .navbar-nav {
  align-items: center;
}
.navbar .navbar-nav > .nav-item {
  margin-left: 2.5rem;
}
.navbar .navbar-nav > .nav-item:first-child {
  margin-left: 0;
}
.navbar .navbar-nav > .nav-item .nav-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
.navbar .navbar-nav > .nav-item .btn {
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar .nav-item {
  position: relative;
  line-height: 22px;
}
.navbar .nav-item:hover > a, .navbar .nav-item > a:hover {
  font-weight: 600;
  color: #1565d8;
}
.navbar .nav-item-has-children > a i {
  line-height: inherit;
}
.navbar .nav-item-has-children::before {
  display: none;
  content: "";
  position: absolute;
  margin: 40px 0 0 0;
  width: 100%;
  height: 30px;
  background-color: rgba(255, 0, 0, 0);
}
.navbar .nav-item-has-children:hover::before {
  display: block;
}
.navbar .nav-item-has-children:hover .sub-menu {
  display: flex;
}
.navbar .sub-menu, .navbar .sub-menu-children {
  display: none;
  position: absolute;
  border-radius: 12px;
  box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  white-space: nowrap;
  padding: 26px 16px;
  width: initial;
  flex-direction: column;
  z-index: 9999;
}
.navbar .sub-menu {
  margin: 6px 0 0 -30px;
  min-width: 260px;
}
.navbar .sub-menu .nav-item > a {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  color: #183b56;
  padding: 6px 12px;
}
.navbar .sub-menu .nav-item > a:hover {
  color: #183b56;
  background: transparent;
  text-decoration: underline;
}
.navbar .sub-menu .nav-item-has-children {
  position: relative;
}
.navbar .sub-menu .nav-item-has-children:hover > a {
  color: #1565d8;
  font-weight: 600;
  text-decoration: none;
}
.navbar .sub-menu .nav-item-has-children:hover .sub-menu-children {
  display: flex;
}
.navbar .sub-menu .nav-item-has-children + .nav-item {
  margin-top: 8px;
}
.navbar .sub-menu .sub-nav-items {
  padding: 0 12px;
}
.navbar .sub-menu h5 {
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;
  font-weight: bold;
  color: #1565d8;
  padding: 6px 12px;
  margin: 0;
}
.navbar .sub-menu.sub-menu-3-col {
  width: initial;
  flex-direction: row;
}
.navbar .sub-menu.sub-menu-3-col .nav-item > a {
  display: inline-block;
}
.navbar .sub-menu-children {
  left: 100%;
  top: 0;
  margin: -15px 0 0 -4px;
  min-width: 240px;
}

@media (max-width: 991.98px) {
  .navbar .nav-item-has-children:hover .sub-menu {
    display: block;
  }
  .navbar .sub-menu, .navbar .sub-menu-children {
    position: relative;
    left: initial;
    top: initial;
    box-shadow: none;
    background: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  .navbar .sub-menu {
    margin-top: -10px;
  }
  .navbar .sub-menu .nav-item > a {
    padding-right: 0;
    line-height: 28px;
  }
  .navbar .sub-menu .nav-item-has-children > a i {
    transform: rotate(90deg);
  }
  .navbar .sub-menu-with-child {
    margin: 0 0 10px;
  }
  .navbar .sub-menu-children {
    padding-left: 15px;
  }
}
.card-pricing {
  border-radius: 0.5rem;
  box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.03);
  padding: 3rem 2.25rem;
  min-height: 561px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-pricing-simple {
  min-height: 436px;
}
.card-pricing-primary {
  border-top: 3px solid #1565d8;
}
.card-pricing-primary .price h2 {
  color: #1565d8 !important;
}
.card-pricing-success {
  border-top: 3px solid #36b37e;
}
.card-pricing-success .price h2 {
  color: #36b37e !important;
}
.card-pricing-warning {
  border-top: 3px solid #faad13;
}
.card-pricing-warning .price h2 {
  color: #faad13 !important;
}
.card-pricing .price h2 {
  color: #183b56;
}
.card-pricing .price h2 span {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #5a7184;
}
.card-pricing .price h4 {
  color: #183b56;
}
.card-pricing .price p {
  color: #5a7184;
}
.card-pricing-footer {
  margin-top: 1.5rem;
}

label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #5a7184;
  margin-bottom: 0.75rem;
}

.footer {
  padding-top: 33px;
  padding-bottom: 80px;
}
.footer .footer-widget .description {
  line-height: 28px;
  margin-bottom: 0;
  margin-top: 28px;
}
.footer .footer-widget h5 {
  font-family: "hk_groteskbold", sans-serif;
  font-weight: bold !important;
  font-size: 18px;
  margin-bottom: 32px;
}
.footer .footer-widget-link li {
  margin-bottom: 24px;
}
.footer .footer-widget-link li a {
  font-family: "hk_groteskregular", sans-serif;
  line-height: normal;
}
.footer .footer-widget-link li:last-child {
  margin-bottom: 0;
}
.footer-sosmed {
  display: flex;
  margin-top: 32px;
}
.footer-sosmed li .btn {
  margin-right: 6px;
}
.footer-sosmed li:last-child .btn {
  margin-right: 0;
}
.footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
}
.footer-copyright .btn {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
}
.footer-copyright p {
  font-weight: 600 !important;
  margin-bottom: 0;
}
.footer-white {
  background-color: #fff;
}
.footer-white .footer-widget h5 {
  color: #183b56;
}
.footer-white .footer-widget .description {
  color: #5a7184;
}
.footer-white .footer-widget-link li a {
  color: #183b56;
}
.footer-white .footer-copyright p {
  color: #5a7184;
}

@media (max-width: 767.98px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .footer > .share-buy-list-container > .row {
    flex-direction: column-reverse;
  }
  .footer .footer-left {
    text-align: center;
  }
  .footer .footer-left .footer-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-right .col-sm-6 {
    width: 50% !important;
  }
  .footer .footer-right .footer-widget {
    margin-bottom: 39px;
  }
  .footer .footer-right .footer-widget h5 {
    margin-bottom: 20px;
  }
  .footer-copyright {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .footer .footer-right {
    margin-bottom: 8px;
  }
  .footer .footer-right .footer-widget h5 {
    font-size: 1rem;
  }
  .footer .footer-right .footer-widget li {
    margin-bottom: 15px;
  }
  .footer .footer-right .footer-widget li a {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-right .footer-widget {
    margin-bottom: 48px;
  }
  .footer-copyright {
    margin-top: 14px;
  }
}
.ic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ic img {
  width: 40px;
  height: 40px;
}
.ic.rounded-16 {
  border-radius: 1rem !important;
}
.ic-lg {
  width: 64px !important;
  height: 64px !important;
}
.ic-lg.ic-badge {
  border-radius: 1rem !important;
}
.ic-lg img {
  width: 40px !important;
  height: 40px !important;
}
.ic-badge {
  border-radius: 0.5rem;
  width: 48px;
  height: 48px;
}
.ic-badge img {
  width: 28px;
  height: 28px;
}
.apps-mobile header .hero {
  background: url(./images/mv-bg.png) center bottom, url(./images/wave-bottom-out.svg) center bottom;
  background-size: 100%, 102%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  padding-bottom: 175px;
}

.apps-mobile header .hero .button-cta img {
  height: 54px;
}

.apps-mobile header .hero .touch p {
  color: #b3bac5;
}

.apps-mobile header .hero .touch p span {
  color: #5A7184;
}

.apps-mobile header .illustration img {
  width: 540px;
}

.apps-mobile .more-features {
  background: url(./images/wave-top-in.svg) center top;
  background-size: 100%, cover, 102%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-color: #192B46;
}

.apps-mobile .more-features .content p {
  color: rgba(250, 250, 251, 0.6);
}

.apps-mobile .more-features .content .iphone img {
  width: 340px;
  height: 678px;
  box-shadow: 0 27px 53px 0 rgba(0, 0, 0, 0.06);
  border-radius: 48px;
}

.apps-mobile .multi-platform .pattern {
  margin-left: 136px;
  margin-top: -62px;
  z-index: -1;
  position: relative;
}

.apps-mobile .pricing {
  background: url(./images/wave-top-out.svg) center top, url(./images/wave-bottom-out.svg) center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-color: #f8fbff;
}

.apps-mobile .pricing .card-pricing {
  background-color: #fff;
}

.apps-mobile .cta {
  position: relative;
  margin-top: -291px;
}

.apps-mobile .cta .content {
  background-image: url("./images/cover-11@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 991.98px) {
  .apps-mobile header .hero {
    background-position: center bottom 2px, center bottom;
    background-size: 1200px auto;
  }
  .apps-mobile .multi-platform .illustration {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .apps-mobile header .hero {
    background-size: 800px auto;
  }
  .apps-mobile header .hero .button-cta img {
    height: 40px;
  }
  .apps-mobile header .illustration img {
    width: 295px;
  }
}

header.blog-alt-1 {
  background: url(./images/cover-4@2x.png) center top, url(./images/wave-bottom-out.svg) center bottom -2px;
  background-size: cover, 102%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  padding-bottom: 175px;
}
header.blog-alt-1 .hero {
  padding-top: 120px;
  padding-bottom: 130px;
}
@media (max-width: 991.98px) {
  header.blog-alt-1 .hero {
    padding-bottom: 100px;
  }
}
@media (max-width: 767.98px) {
  header.blog-alt-1 .hero {
    padding-top: 40px;
  }
}
@media (max-width: 575.98px) {
  header.blog-alt-1 .hero {
    padding-bottom: 70px;
  }
}
header.blog-alt-2 {
  background-color: #f9fcff;
  padding-bottom: 297px;
  margin-bottom: -200px;
}
header.blog-alt-2 .hero {
  padding-top: 76px;
}
header.blog-alt-2 .content {
  padding-top: 20px;
}

@media (max-width: 1199.98px) {
  header.blog-alt-2 .content {
    padding-top: 0;
  }
}
@media (max-width: 991.98px) {
  header.blog-alt-2 {
    padding-bottom: 345px;
    margin-bottom: -273px;
  }
  header.blog-alt-2 .content {
    text-align: center;
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 575.98px) {
  header.blog-alt-2 {
    padding-bottom: 300px;
    margin-bottom: -260px;
  }
  header.blog-alt-2 .hero {
    padding-top: 40px;
  }
}
header.blog-detail {
  background-position: center top, center bottom -2px;
  background-size: cover, 102%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  padding-bottom: 175px;
}
header.blog-detail .hero {
  padding-top: 120px;
  padding-bottom: 130px;
}
header.blog-detail h1 {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991.98px) {
  header.blog-detail .hero {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (max-width: 767.98px) {
  header.blog-detail {
    padding-bottom: 0;
    background-size: cover, 0px;
    margin-bottom: 40px;
  }
  header.blog-detail .hero {
    padding-top: 60px;
    padding-bottom: 110px;
  }
}

@media (max-width: 1199.98px) {
  body {
    content: "aawww5";
  }
}
@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.footer {
  background-image: url("./images/oval1.svg"), url("./images/oval2.svg");
  background-position: left top, right top;
  background-repeat: no-repeat;
}
* {
  font-family: "hk_groteskbold", sans-serif;
}

h1 {
  font-family: "hk_groteskbold", sans-serif;
  font-size: 3.5rem !important;
  font-weight: 700 !important;
  line-height: 4.25rem !important;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "hk_groteskbold", sans-serif;
  font-size: 2.5rem !important;
  font-weight: 700 !important;
  line-height: 3.25rem !important;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "hk_groteskbold", sans-serif;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  line-height: 2rem !important;
  letter-spacing: 0.2px;
}

h5 {
  font-size: 1.25rem;
  font-weight: 700 !important;
  line-height: 1.5rem !important;
  letter-spacing: 0.2px;
}

p,
ul {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.75rem;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 48px !important;
  }
}

@media (max-width: 575.98px) {
  .share-buy-list-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .share-buy-list-container {
    padding-left: 48px !important;
    padding-right: 48px !important;
  }
}
@media (min-width: 1200px) {
  .share-buy-list-container {
    max-width: 1170px;
  }
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: inline-block;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0 1.5rem;
  font-size: 1rem;
  line-height: 2.875rem;
  border-radius: 0.5rem;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn.btn-outline-primary, .btn.btn-outline-white {
  line-height: 2.75rem;
}
.btn.btn-outline-primary:hover, .btn.btn-outline-white:hover {
  color: white;
}
.btn:hover {
  opacity: 0.8;
}
 .btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.btn.btn-primary {
  background-color: #1565d8;
  color: white;
  border-color: #1565d8;
}
 .btn.btn-primary:not(:disabled):not(.disabled):active {
  background-color: rgba(21, 101, 216, 0.8);
  border-color: rgba(21, 101, 216, 0.8);
}
.btn.btn-white {
  background-color: white;
  color: #183b56;
  border-color: white;
}
 .btn.btn-white:not(:disabled):not(.disabled):active {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}
.btn.btn-outline-primary {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid #1565d8;
  color: #1565d8;
}
.btn.btn-outline-primary:hover {
  background-color: #1565d8;
}
.btn.btn-outline-white {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid white;
  color: white;
}
.btn.btn-sm {
  font-size: 0.875rem;
  line-height: 2.375rem;
  padding: 0 1.25rem;
}
.btn.btn-sm.btn-outline-primary, .btn.btn-sm.btn-outline-white {
  line-height: 2.25rem;
}
.btn.btn-sm.btn-outline-primary:hover, .btn.btn-sm.btn-outline-white:hover {
  color: white;
}
.btn.btn-rounded {
  border-radius: 50px;
}

.btn-ic {
  width: 48px;
  height: 48px;
  font-size: 14px !important;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  border: none;
}
.btn-ic.btn-sm {
  width: 40px !important;
  height: 40px !important;
}

.badge {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 2rem;
  padding: 0 1rem;
}
.badge-success {
  background-color: rgba(54, 179, 126, 0.1);
  color: #36b37e !important;
}

.custom-switch {
  padding-left: 5.5rem;
}
.custom-switch .custom-control-label {
  padding-top: 10px;
}
.custom-switch .custom-control-label::before {
  width: 64px;
  height: 36px;
  border-radius: 18px;
  box-shadow: 0 10px 20px 0 rgba(20, 45, 65, 0.08);
  border: 1px solid white;
  left: -5.5rem;
}
.custom-switch .custom-control-label::before:focus {
  box-shadow: none;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: white;
  border: 1px solid white;
}
.custom-switch .custom-control-label::after {
  top: calc(0.40rem + 2px);
  left: calc(-5.3rem + 2px);
  width: 26px;
  height: 26px;
  border-radius: 100px;
}
.custom-switch .custom-control-label::after:focus {
  box-shadow: none;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  left: calc(-4.3rem + 2px);
}
.custom-switch-success .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #36b37e;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*!
 * Font Awesome Free 5.11.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face{font-family:"Font Awesome 5 Brands";font-style:normal;font-weight:normal;font-display:auto;src:url(./webfonts/fa-brands-400.eot);src:url(./webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(./webfonts/fa-brands-400.woff2) format("woff2"),url(./webfonts/fa-brands-400.woff) format("woff"),url(./webfonts/fa-brands-400.ttf) format("truetype"),url(./webfonts/fa-brands-400.svg#fontawesome) format("svg")}.fab{font-family:"Font Awesome 5 Brands"}

/*!
 * Font Awesome Free 5.11.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
.fa,.fab,.far,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.fa-angle-down:before{content:"\f107"}.fa-angle-right:before{content:"\f105"}.fa-arrow-right:before{content:"\f061"}.fa-facebook-f:before{content:"\f39e"}.fa-heart:before{content:"\f004"}.fa-instagram:before{content:"\f16d"}.fa-linkedin:before{content:"\f08c"}.fa-twitter:before{content:"\f099"}

/*!
 * Font Awesome Free 5.11.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;font-display:auto;src:url(./webfonts/fa-regular-400.eot);src:url(./webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(./webfonts/fa-regular-400.woff2) format("woff2"),url(./webfonts/fa-regular-400.woff) format("woff"),url(./webfonts/fa-regular-400.ttf) format("truetype"),url(./webfonts/fa-regular-400.svg#fontawesome) format("svg")}.far{font-family:"Font Awesome 5 Free";font-weight:400}

/*!
 * Font Awesome Free 5.11.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:auto;src:url(./webfonts/fa-solid-900.eot);src:url(./webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(./webfonts/fa-solid-900.woff2) format("woff2"),url(./webfonts/fa-solid-900.woff) format("woff"),url(./webfonts/fa-solid-900.ttf) format("truetype"),url(./webfonts/fa-solid-900.svg#fontawesome) format("svg")}.fa,.fas{font-family:"Font Awesome 5 Free";font-weight:900}


/*!
 * Bootstrap-select v1.13.12 (https://developer.snapappointments.com/bootstrap-select)
 *
 * Copyright 2012-2019 SnapAppointments, LLC
 * Licensed under MIT (https://github.com/snapappointments/bootstrap-select/blob/master/LICENSE)
 */@-webkit-keyframes bs-notify-fadeOut{0%{opacity:.9}100%{opacity:0}}@-o-keyframes bs-notify-fadeOut{0%{opacity:.9}100%{opacity:0}}@keyframes bs-notify-fadeOut{0%{opacity:.9}100%{opacity:0}}.bootstrap-select{width:220px\0;vertical-align:middle}.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width:220px}.bootstrap-select:not(.input-group-btn),.bootstrap-select[class*=col-]{float:none;display:inline-block;margin-left:0}

/*!
 * Bootstrap v4.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */:root{--blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#6c757d;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}*,::after,::before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}footer,header,main,nav,section{display:block}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}h1,h2,h4,h5{margin-top:0;margin-bottom:.5rem}p{margin-top:0;margin-bottom:1rem}ul{margin-top:0;margin-bottom:1rem}ul ul{margin-bottom:0}small{font-size:80%}a{color:#007bff;text-decoration:none;background-color:transparent}a:hover{color:#0056b3;text-decoration:underline}a:not([href]){color:inherit;text-decoration:none}a:not([href]):hover{color:inherit;text-decoration:none}img{vertical-align:middle;border-style:none}svg{overflow:hidden;vertical-align:middle}label{display:inline-block;margin-bottom:.5rem}button{border-radius:0}button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button{text-transform:none}[type=button],button{-webkit-appearance:button}[type=button]:not(:disabled),button:not(:disabled){cursor:pointer}[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}input[type=checkbox]{box-sizing:border-box;padding:0}input[type=month],input[type=time]{-webkit-appearance:listbox}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}[hidden]{display:none!important}.h1,.h2,.h4,.h5,h1,h2,h4,h5{margin-bottom:.5rem;font-weight:500;line-height:1.2}.h1,h1{font-size:2.5rem}.h2,h2{font-size:2rem}.h4,h4{font-size:1.5rem}.h5,h5{font-size:1.25rem}.small,small{font-size:80%;font-weight:400}.list-unstyled{padding-left:0;list-style:none}.share-buy-list-container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:576px){.share-buy-list-container{max-width:540px}}@media (min-width:768px){.share-buy-list-container{max-width:720px}}@media (min-width:992px){.share-buy-list-container{max-width:960px}}@media (min-width:1200px){.share-buy-list-container{max-width:1140px}}@media (min-width:576px){.share-buy-list-container{max-width:540px}}@media (min-width:768px){.share-buy-list-container{max-width:720px}}@media (min-width:992px){.share-buy-list-container{max-width:960px}}@media (min-width:1200px){.share-buy-list-container{max-width:1140px}}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.col-12,.col-lg-10,.col-lg-12,.col-lg-3,.col-lg-4,.col-lg-6,.col-lg-8,.col-md-12,.col-md-5,.col-md-6,.col-md-7,.col-sm-12,.col-sm-6,.col-xl-10,.col-xl-12,.col-xl-3,.col-xl-4,.col-xl-6,.col-xl-8{position:relative;width:100%;padding-right:15px;padding-left:15px}.col-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}@media (min-width:576px){.col-sm-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-sm-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}}@media (min-width:768px){.col-md-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-md-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-md-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-md-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}}@media (min-width:992px){.col-lg-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-lg-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-lg-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-lg-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-lg-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-lg-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.offset-lg-1{margin-left:8.333333%}.offset-lg-2{margin-left:16.666667%}}@media (min-width:1200px){.col-xl-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-xl-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-xl-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-xl-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-xl-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-xl-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.offset-xl-1{margin-left:8.333333%}.offset-xl-2{margin-left:16.666667%}}.btn{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){.btn{transition:none}}.btn:hover{color:#212529;text-decoration:none}.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}.btn:disabled{opacity:.65}.btn-primary{color:#fff;background-color:#007bff;border-color:#007bff}.btn-primary:hover{color:#fff;background-color:#0069d9;border-color:#0062cc}.btn-primary:focus{color:#fff;background-color:#0069d9;border-color:#0062cc;box-shadow:0 0 0 .2rem rgba(38,143,255,.5)}.btn-primary:disabled{color:#fff;background-color:#007bff;border-color:#007bff}.btn-primary:not(:disabled):not(.disabled):active{color:#fff;background-color:#0062cc;border-color:#005cbf}.btn-primary:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(38,143,255,.5)}.btn-outline-primary{color:#007bff;border-color:#007bff}.btn-outline-primary:hover{color:#fff;background-color:#007bff;border-color:#007bff}.btn-outline-primary:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}.btn-outline-primary:disabled{color:#007bff;background-color:transparent}.btn-outline-primary:not(:disabled):not(.disabled):active{color:#fff;background-color:#007bff;border-color:#007bff}.btn-outline-primary:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}.btn-sm{padding:.25rem .5rem;font-size:.875rem;line-height:1.5;border-radius:.2rem}.collapse:not(.show){display:none}.custom-control{position:relative;display:block;min-height:1.5rem;padding-left:1.5rem}.custom-control-input{position:absolute;left:0;z-index:-1;width:1rem;height:1.25rem;opacity:0}.custom-control-input:checked~.custom-control-label::before{color:#fff;border-color:#007bff;background-color:#007bff}.custom-control-input:focus~.custom-control-label::before{box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}.custom-control-input:focus:not(:checked)~.custom-control-label::before{border-color:#80bdff}.custom-control-input:not(:disabled):active~.custom-control-label::before{color:#fff;background-color:#b3d7ff;border-color:#b3d7ff}.custom-control-input:disabled~.custom-control-label{color:#6c757d}.custom-control-input:disabled~.custom-control-label::before{background-color:#e9ecef}.custom-control-label{position:relative;margin-bottom:0;vertical-align:top}.custom-control-label::before{position:absolute;top:.25rem;left:-1.5rem;display:block;width:1rem;height:1rem;pointer-events:none;content:"";background-color:#fff;border:#adb5bd solid 1px}.custom-control-label::after{position:absolute;top:.25rem;left:-1.5rem;display:block;width:1rem;height:1rem;content:"";background:no-repeat 50%/50% 50%}.custom-switch{padding-left:2.25rem}.custom-switch .custom-control-label::before{left:-2.25rem;width:1.75rem;pointer-events:all;border-radius:.5rem}.custom-switch .custom-control-label::after{top:calc(.25rem + 2px);left:calc(-2.25rem + 2px);width:calc(1rem - 4px);height:calc(1rem - 4px);background-color:#adb5bd;border-radius:.5rem;transition:background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;transition:transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out}@media (prefers-reduced-motion:reduce){.custom-switch .custom-control-label::after{transition:none}}.custom-switch .custom-control-input:checked~.custom-control-label::after{background-color:#fff;-webkit-transform:translateX(.75rem);transform:translateX(.75rem)}.custom-switch .custom-control-input:disabled:checked~.custom-control-label::before{background-color:rgba(0,123,255,.5)}.custom-control-label::before{transition:background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){.custom-control-label::before{transition:none}}.nav{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none}.nav-link{display:block;padding:.5rem 1rem}.nav-link:focus,.nav-link:hover{text-decoration:none}.navbar{position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:.5rem 1rem}.navbar .share-buy-list-container{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between}.navbar-brand{display:inline-block;padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap}.navbar-brand:focus,.navbar-brand:hover{text-decoration:none}.navbar-nav{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none}.navbar-nav .nav-link{padding-right:0;padding-left:0}.navbar-collapse{-ms-flex-preferred-size:100%;flex-basis:100%;-ms-flex-positive:1;flex-grow:1;-ms-flex-align:center;align-items:center}.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem}.navbar-toggler:focus,.navbar-toggler:hover{text-decoration:none}@media (max-width:991.98px){.navbar-expand-lg>.share-buy-list-container{padding-right:0;padding-left:0}}@media (min-width:992px){.navbar-expand-lg{-ms-flex-flow:row nowrap;flex-flow:row nowrap;-ms-flex-pack:start;justify-content:flex-start}.navbar-expand-lg .navbar-nav{-ms-flex-direction:row;flex-direction:row}.navbar-expand-lg .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}.navbar-expand-lg>.share-buy-list-container{-ms-flex-wrap:nowrap;flex-wrap:nowrap}.navbar-expand-lg .navbar-collapse{display:-ms-flexbox!important;display:flex!important;-ms-flex-preferred-size:auto;flex-basis:auto}.navbar-expand-lg .navbar-toggler{display:none}}.navbar-dark .navbar-brand{color:#fff}.navbar-dark .navbar-brand:focus,.navbar-dark .navbar-brand:hover{color:#fff}.navbar-dark .navbar-nav .nav-link{color:rgba(255,255,255,.5)}.navbar-dark .navbar-nav .nav-link:focus,.navbar-dark .navbar-nav .nav-link:hover{color:rgba(255,255,255,.75)}.navbar-dark .navbar-toggler{color:rgba(255,255,255,.5);border-color:rgba(255,255,255,.1)}.badge{display:inline-block;padding:.25em .4em;font-size:75%;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){.badge{transition:none}}a.badge:focus,a.badge:hover{text-decoration:none}.badge:empty{display:none}.btn .badge{position:relative;top:-1px}.badge-pill{padding-right:.6em;padding-left:.6em;border-radius:10rem}.badge-success{color:#fff;background-color:#28a745}a.badge-success:focus,a.badge-success:hover{color:#fff;background-color:#1e7e34}a.badge-success:focus{outline:0;box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}@-webkit-keyframes progress-bar-stripes{from{background-position:1rem 0}to{background-position:0 0}}@keyframes progress-bar-stripes{from{background-position:1rem 0}to{background-position:0 0}}@-webkit-keyframes spinner-border{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner-border{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-webkit-keyframes spinner-grow{0%{-webkit-transform:scale(0);transform:scale(0)}50%{opacity:1}}@keyframes spinner-grow{0%{-webkit-transform:scale(0);transform:scale(0)}50%{opacity:1}}.d-none{display:none!important}.d-flex{display:-ms-flexbox!important;display:flex!important}@media (min-width:992px){.d-lg-flex{display:-ms-flexbox!important;display:flex!important}}@media (min-width:1200px){.d-xl-flex{display:-ms-flexbox!important;display:flex!important}}.flex-column{-ms-flex-direction:column!important;flex-direction:column!important}.flex-wrap{-ms-flex-wrap:wrap!important;flex-wrap:wrap!important}.justify-content-between{-ms-flex-pack:justify!important;justify-content:space-between!important}.align-items-start{-ms-flex-align:start!important;align-items:flex-start!important}.w-100{width:100%!important}.h-100{height:100%!important}.mb-0{margin-bottom:0!important}.mr-auto,.mx-auto{margin-right:auto!important}.ml-auto,.mx-auto{margin-left:auto!important}.text-left{text-align:left!important}.text-center{text-align:center!important}@media (min-width:992px){.text-lg-left{text-align:left!important}}@media (min-width:1200px){.text-xl-left{text-align:left!important}}.text-white{color:#fff!important}.text-success{color:#28a745!important}a.text-success:focus,a.text-success:hover{color:#19692c!important}@media print{*,::after,::before{text-shadow:none!important;box-shadow:none!important}a:not(.btn){text-decoration:underline}img{page-break-inside:avoid}h2,p{orphans:3;widows:3}h2{page-break-after:avoid}@page{size:a3}body{min-width:992px!important}.share-buy-list-container{min-width:992px!important}.navbar{display:none}.badge{border:1px solid #000}}
/*# sourceMappingURL=bootstrap.min.css.map */


